<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Range <%=2+2%>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <div class="columns is-one-fifth-mobile">
            <div class="column is-half is-offset-one-quarter ">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABRekRxaLvOelos88P0KUXiRMJTrySybNaGhlF6mPfZg1yYLGV1BFrwz0YJCAMa6XvDcg3_To9LncTG6_UApVi1-2j8_8Q0lrKxX6R-wEZS8c_dE-.jpg?r=d79"
                                alt="">
                        </figure>
                    </div>
                    <header class="card-header">
                        <h1 class="card-header-title">
                            CyberShield
                        </h1>

                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h1 <!-- class="title is-1" -->
                                Reverse Engineering</h1>
                            <p>Select Any Script</p>

                        </div>
                        <div class="select is-normal" id="id_select">
                            <select>
                                <option>Script 1</option>
                                <option>Script 2</option>
                                <option>Script 3</option>

                            </select>

                        </div>
                    </div>

                    <footer class="card-footer">
                        <a href="http://localhost:8080" id="id_btn" class="card-footer-item">Execute >></a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/views/app.js"></script> -->
</body>

</html>
